crawl4ai
psutil
langchain
langchain-community
langchain-huggingface
transformers
accelerate
faiss-cpu
ctransformers
bitsandbytes
dotenv
rich
fastapi
uvicorn
langchain-openai
sentence-transformers
streamlit
uvicorn[standard]
hf_xet
langchain-text-splitters